# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# 项目特定文件
*.pt
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# 项目特定文件
*.pdf
!rknn_support_list.pdf
*.jpg
*.onnx
*.rknn
rv1106/

# 忽略所有 .pdf 文件，除了特定的文件
*.pdf
!RKNN支持操作待列表05_RKNN_Compiler_Support_Operator_List_v1.6.0.pdf

# 忽略所有 .jpg 文件，除了特定的文件
*.jpg
!srick.jpg

# 忽略所有 .pt 文件，除了特定的文件
*.pt
!srickyolov5nu.pt

# 忽略所有 .avi 文件，除了特定的文件
*.avi
!output.avi 